.root {
  font-size: 3em;
  font-weight: bold;
  color: rgb(51, 51, 51);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
